<nav class="navbar navbar-toggleable-md navbar bg-faded widowcasenav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">
    <%= image_tag "widowcasewhite.png", width: 300, height: 50, class: "d-inline-block align-top" %>
    <%= link_to "Band", "home", class:"nav-link" %>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <%= link_to "Merch", "merchandise", class:"nav-link" %>
      </li>
      <li class="nav-item">
      <%= link_to "About", "about", class:"nav-link" %>
      <li class="nav-item">
      <%= link_to "Contact", "contact", class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>