<!DOCTYPE html>
<html>
  <head>
    <title>Widow Case | Band</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
          <%= render 'shared/nav' %>
  <body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  
  </body>
</html>